body {
  background: #f9e933;
  font-size: 100%;
  font-family: "Droid Sans", serif;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body h1, h2, h3, h4 {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10px;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
  padding: 30px;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
  font-size: 2.5em;
  font-style: italic;
  color: brown;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
  padding: 50px;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

main h2 {
  font-size: xx-large;
}

main h3 {
  font-size: x-large;
}

main p {
  margin-bottom: 30px;
}

main input {
  float: right;
}

footer h5 {
  margin-bottom: 20px;
  font-size: large;
  font-weight: bold;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

footer .container .left .contact p {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 5px;
}

footer .container .left .contact p:first-of-type {
  font-style: italic;
  color: maroon;
}

footer .sitemap .left {
  width: 129px;
  float: left;
}

footer .sitemap .right {
  width: 129px;
  float: right;
}

footer .sitemap li {
  margin-bottom: 5px;
}
