body {
  background: #f9e933;
  font-size: 100%;
  font-family: "Droid Sans", serif;
}

body h1, h2, h3, h4 {
  font-family: "Ubuntu", sans-serif;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
  padding: 30px;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
  font-size: 2.5em;
  font-style: italic;
  color: brown;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
  padding: 50px;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

main h2 {
  font-size: xx-large;
}

main h3 {
  font-size: x-large;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}
